.discover {
	padding: 60px 0;

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 80px;
		align-items: center;
	}

	&__description {
	}

	&__title {
		margin-bottom: 24px;
	}

	&__text {
		margin-bottom: 40px;
	}

	&__form {
	}

	&__picture {
		position: relative;
	}

	&__picture-scroll {
		position: absolute;
		right: 15px;
		bottom: 20px;
	}
}

.title-1 {
}
