.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;

		a {
			color: #181818;
			transition: color .2s ease-in-out;
		}
		a:hover, a.active {
			color: #35AFF4;
		}
	}

	&__btns {
		display: flex;
		gap: 12px;
	}
}

