.partners {
	padding: 70px 0;

	&__container {
		display: flex;
		gap: 10px 20px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		font-size: 24px;
		font-weight: 500;
		line-height: 1.4; /* 33.6px */

		flex: 1 1 200px;
	}

	&__content {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		flex: 2 1 700px;
	}

	&__img {
	}
}
